*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

header{
  width:100%;
  padding:20px 0;
  text-align: center;
}

.nav-list {
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  border-bottom: 1px solid #848282;
  border-top: 1px solid #848282;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.main{
  width:800px;
  margin:50px auto;
  display:flex;
  flex-wrap:wrap;
}

.color-green1{
  width:200px;
  height:200px;
  background-color:#e6ffe9;
}

.color-green2{
  width:200px;
  height:200px;
  background-color:#cbffd3;
}

.color-green3{
  width:200px;
  height:200px;
  background-color:#aeffbd;
}

.color-green4{
  width:200px;
  height:200px;
  background-color:#93ffab;
}

.color-yellow1{
  width:200px;
  height:200px;
  background-color:#f3ffd8;
}

.color-yellow2{
  width:200px;
  height:200px;
  background-color:#edffbe;
}

.color-yellow3{
  width:200px;
  height:200px;
  background-color:#e9ffa5;
}

.color-yellow4{
  width:200px;
  height:200px;
  background-color:#e4ff8d;
}

.color-blue1{
  width:200px;
  height:200px;
  background-color:#d9e5ff;
}

.color-blue2{
  width:200px;
  height:200px;
  background-color:#bad3ff;
}

.color-blue3{
  width:200px;
  height:200px;
  background-color:#a4c6ff;
}

.color-blue4{
  width:200px;
  height:200px;
  background-color:#8eb8ff;
}

footer{
  width:100%;
  height:120px;
  text-align: center;
  line-height: 120px;
  background-color:#848282;
}
.footer-text{
  color:#fff;
}